{% extends 'guest_base.html' %}

{% block title %} Mold Making {% endblock title %} 

{% block content %} 
<div class="container pt-5 mt-5 mb-5">
    <div>
        <div>
            <div style="text-align: justify; align-items: center;">
                <p>We have invested not only in equipment but also in training and knowledge of our employees in order to support our customers needs, whether it is a new mold or mold improvement. With proper work shop and equipped with latest technology tools, we are confident that we can provide high quality on mold we fabricated while only consuming a short amount of time.</p>
            </div>
            <div>
                <img class="img_ms" src="https://ik.imagekit.io/itsanwaei/sanwa-web-guest-img/ms-1_d48XGb16y.png?ik-sdk-version=javascript-1.4.3&updatedAt=1657530947539" alt="mold-shop1.jpg" width="100%">
            </div>
        </div>
        <div class="mt-5 mb-5">
            <div>
                <p>Our experts make sure all molds are always on the best condition.</p>
            </div>
            <div>
                <img class="img_ms" src="https://ik.imagekit.io/itsanwaei/sanwa-web-guest-img/ms-2_VpK37e_ZOb.png?ik-sdk-version=javascript-1.4.3&updatedAt=1657530975835" alt="mold-shop2.jpg" width="100%">
            </div>
        </div>
    </div>
</div>
{% endblock content %}