{% extends 'guest_base.html' %}

{% block title %} Mold Maintenance {% endblock title %}

{% block style %}
<style>
    .img_mm{
        max-width: 500px;
        border: 5px solid black;
        border-radius: 3px;
    }
</style>
{% endblock style %}

{% block content %} 
<div class="container pt-5 mt-5 mb-5">
    <div>
        <div class="row pb-5">
            <div class="col-md-6">
                <img class="img_mm" src="https://ik.imagekit.io/itsanwaei/sanwa-web-guest-img/Whats-App-Image-2022-07-08-at-10-03-52-AM_x0k4vldvvQ.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1657261476134" alt="mold-mainten1.jpg" width="100%">
            </div>
            <div class="col-md-6">
                <p>Through constant care and daily maintenance, we provide our customer with durable and long lasting mold.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <p>Our experts make sure all molds are always on the best condition.</p>
            </div>
            <div class="col-md-6">
                <img class="img_mm" src="https://ik.imagekit.io/itsanwaei/sanwa-web-guest-img/Whats-App-Image-2022-07-08-at-10-03-51-AM-2_NKx0KvlH0.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1657261475881" alt="mold-mainten2.jpg" width="100%">
            </div>
        </div>
    </div>
</div>


{% endblock content %}