{% extends 'guest_base.html' %}
{% load static %}

{% block title %} Company Structure {% endblock title %} 

{% block style %} 
{% endblock style %}

{% block javascript %} 
{% endblock javascript %}

{% block header %}<h3 class="text-center mt-5 mb-5">Company Structure of PT. Sanwa Engineering Indonesia</h3>{% endblock header %}

{% block content %} 
<div class="mb-5 img-magnifier-container">
    <a href="https://gistcdn.githack.com/it-sanwa-ei/9549aac7c05d94616e258da5b9acf4de/raw/1a35753e124751486115e20ceeda13d3a6d13b3c/sanwa_org_structure.svg"><img id="sei_org_structure" src="https://gistcdn.githack.com/it-sanwa-ei/9549aac7c05d94616e258da5b9acf4de/raw/1a35753e124751486115e20ceeda13d3a6d13b3c/sanwa_org_structure.svg" alt="sanwa-org-structure.svg" width="100%"></a>
</div>
{% endblock content %}