{% extends 'base.html' %} 

{% block title %} Delete Product {% endblock title %}

{% block header %} Delete Product {% endblock header %}
{% block content %} 

<div class="container">
    <form action="", method="post">
        {% csrf_token %} 
        <p>Delete the following product data</p>
        <div class="container">
            <strong><p>Part ID : {{product_delete.part_id}}</p></strong>
            <strong><p>Part Name : {{product_delete.part_name}}</p></strong>
            <strong><p>Material : {{product_delete.material}}</p></strong>
            <strong><p>Cycle Time : {{product_delete.cycle_time}}</p></strong>
            <strong><p>Customer : {{product_delete.customer}}</p></strong>
            <strong><p>Part Weight : {{product_delete.part_weight}}</p></strong>
            <strong><p>Runner Weight : {{product_delete.runner_weight}}</p></strong>
            <strong><p>Cavity : {{product_delete.cavity}}</p></strong>
        </div>
        <p>Confirm ?</p>
        <input type="submit" value="Yes" class="btn btn-primary" style="width: 5em;"/>
        <input type="button" value="No" class="btn btn-secondary" onclick="history.back()" style="width: 5em;">
    </form>
</div>
<br>

{% endblock content %}