{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %} New Product Form {% endblock title %}

{% block header %} New Product Form {% endblock header %}
{% block content %} 
<div class="container">
    {% csrf_token %}
    {% crispy form %}
</div>
<br>
{% endblock content %}

{% block javascript %} 
<script>
    $(document).ready(function()
    {
    // Initialize select2
      var customer_select = new TomSelect("#id_customer",{
        create: false,
        maxItems: 1,
        closeAfterSelect: true,
        placeholder: 'Search, put "NODATA" instead of blank or add the Customer data first.',
      });
      customer_select.clear();
    });
</script>
{% endblock javascript %}