{% extends 'guest_base.html' %}

{% block title %} Injection Molding {% endblock title %} 

{% block style %}
<style>

</style>
{% endblock style %}

{% block content %} 
<div class="container pt-5 mt-5 mb-5">
    <div>
        <p>Currently, PT. Sanwa Engineering Indonesia has three manufacturing plants consisting 100 injection molding machines in total. Our machines are varying from 25 to 150 tonnage.</p>
    </div>
    <div class="text-center">
        <p>Plant A</p>
        <canvas id="canvas_plant_a" width="100%" height="100%"></canvas>
    </div>
    <div class="text-center">
        <p>Plant B</p>
        <canvas id="canvas_plant_b" width="100%" height="100%"></canvas>
    </div>
    <div class="text-center">
        <p>Plant C</p>
        <canvas id="canvas_plant_c" width="100%" height="100%"></canvas>
    </div>
</div>
{% endblock content %}

{% block javascriptbody %}
<script>
    var canvas_a = document.getElementById('canvas_plant_a')
    canvas_a.width = 550;
    canvas_a.height = 500;
    var ctxa = canvas_a.getContext("2d")
    ctxa.fillStyle = 'rgb(0, 0, 255)';
    mca1 = ctxa.fillRect(0,0, 50, 100)
    mca2 = ctxa.fillRect(60,0, 50, 100)
    mca3 = ctxa.fillRect(120,0, 50, 100)
    mca4 = ctxa.fillRect(180,0, 50, 100)
    mca5 = ctxa.fillRect(240,0, 50, 100)
    mca6 = ctxa.fillRect(300,0, 50, 100)
    mca7 = ctxa.fillRect(360,0, 50, 100)
    mca8 = ctxa.fillRect(420,0, 50, 100)
    mca9 = ctxa.fillRect(480,0, 50, 100)

    mca10 = ctxa.fillRect(0,110, 50, 100)
    mca11 = ctxa.fillRect(60,110, 50, 100)
    mca12 = ctxa.fillRect(120,110, 50, 100)
    mca13 = ctxa.fillRect(180,110, 50, 100)
    mca14 = ctxa.fillRect(240,110, 50, 100)
    mca15 = ctxa.fillRect(300,110, 50, 100)
    mca16 = ctxa.fillRect(360,110, 50, 100)
    mca17 = ctxa.fillRect(420,110, 50, 100)
    mca18 = ctxa.fillRect(480,110, 50, 100)

    mca19 = ctxa.fillRect(0,220, 50, 100)
    mca20 = ctxa.fillRect(60,220, 50, 100)
    mca21 = ctxa.fillRect(120,220, 50, 100)
    mca22 = ctxa.fillRect(180,220, 50, 100)
    mca23 = ctxa.fillRect(240,220, 50, 100)
    mca24 = ctxa.fillRect(300,220, 50, 100)
    mca25 = ctxa.fillRect(360,220, 50, 100)
    mca26 = ctxa.fillRect(420,220, 50, 100)
    mca27 = ctxa.fillRect(480,220, 50, 100)

    mca28 = ctxa.fillRect(0,330, 50, 100)
    mca29 = ctxa.fillRect(60,330, 50, 100)
    mca30 = ctxa.fillRect(120,330, 50, 100)
    mca31 = ctxa.fillRect(180,330, 50, 100)
    mca32 = ctxa.fillRect(240,330, 50, 100)
    mca33 = ctxa.fillRect(300,330, 50, 100)
    mca34 = ctxa.fillRect(360,330, 50, 100)

    var canvas_b = document.getElementById('canvas_plant_b')
    canvas_b.width = 550;
    canvas_b.height = 400;
    var ctxb = canvas_b.getContext("2d")
    ctxb.fillStyle = 'rgb(255, 0, 0)';
    mcb19 = ctxb.fillRect(0,0, 50, 100)
    mcb20 = ctxb.fillRect(60,0, 50, 100)
    mcb21 = ctxb.fillRect(120,0, 50, 100)
    mcb22 = ctxb.fillRect(180,0, 50, 100)
    mcb23 = ctxb.fillRect(240,0, 50, 100)

    mcb1 = ctxb.fillRect(0,110, 50, 100)
    mcb2 = ctxb.fillRect(60,110, 50, 100)
    mcb3 = ctxb.fillRect(120,110, 50, 100)
    mcb4 = ctxb.fillRect(180,110, 50, 100)
    mcb5 = ctxb.fillRect(240,110, 50, 100)
    mcb6 = ctxb.fillRect(300,110, 50, 100)
    mcb7 = ctxb.fillRect(360,110, 50, 100)
    mcb8 = ctxb.fillRect(420,110, 50, 100)
    mcb9 = ctxb.fillRect(480,110, 50, 100)

    mcb10 = ctxb.fillRect(0,220, 50, 100)
    mcb11 = ctxb.fillRect(60,220, 50, 100)
    mcb12 = ctxb.fillRect(120,220, 50, 100)
    mcb13 = ctxb.fillRect(180,220, 50, 100)
    mcb14 = ctxb.fillRect(240,220, 50, 100)
    mcb15 = ctxb.fillRect(300,220, 50, 100)
    mcb16 = ctxb.fillRect(360,220, 50, 100)
    mcb17 = ctxb.fillRect(420,220, 50, 100)
    mcb18 = ctxb.fillRect(480,220, 50, 100)

    var canvas_c = document.getElementById('canvas_plant_c')
    canvas_c.width = 550;
    canvas_c.height = 600;
    var ctxc = canvas_c.getContext("2d")
    ctxc.fillStyle = 'rgb(242, 89, 0)';
    mcc9 = ctxc.fillRect(0,0, 50, 100)
    mcc8 = ctxc.fillRect(60,0, 50, 100)
    mcc7 = ctxc.fillRect(120,0, 50, 100)
    mcc6 = ctxc.fillRect(180,0, 50, 100)
    mcc5 = ctxc.fillRect(240,0, 50, 100)
    mcc4 = ctxc.fillRect(300,0, 50, 100)
    mcc3 = ctxc.fillRect(360,0, 50, 100)
    mcc2 = ctxc.fillRect(420,0, 50, 100)
    mcc1 = ctxc.fillRect(480,0, 50, 100)

    mcc18 = ctxc.fillRect(0,110, 50, 100)
    mcc17 = ctxc.fillRect(60,110, 50, 100)
    mcc16 = ctxc.fillRect(120,110, 50, 100)
    mcc15 = ctxc.fillRect(180,110, 50, 100)
    mcc14 = ctxc.fillRect(240,110, 50, 100)
    mcc13 = ctxc.fillRect(300,110, 50, 100)
    mcc12 = ctxc.fillRect(360,110, 50, 100)
    mcc11 = ctxc.fillRect(420,110, 50, 100)
    mcc10 = ctxc.fillRect(480,110, 50, 100)

    mcc27 = ctxc.fillRect(0,220, 50, 100)
    mcc26 = ctxc.fillRect(60,220, 50, 100)
    mcc25 = ctxc.fillRect(120,220, 50, 100)
    mcc24 = ctxc.fillRect(180,220, 50, 100)
    mcc23 = ctxc.fillRect(240,220, 50, 100)
    mcc22 = ctxc.fillRect(300,220, 50, 100)
    mcc21 = ctxc.fillRect(360,220, 50, 100)
    mcc20 = ctxc.fillRect(420,220, 50, 100)
    mcc19 = ctxc.fillRect(480,220, 50, 100)

    mcc35 = ctxc.fillRect(0,330, 55, 100)
    mcc34 = ctxc.fillRect(68.5,330, 55, 100)
    mcc33 = ctxc.fillRect(137,330, 55, 100)
    mcc32 = ctxc.fillRect(205.5,330, 55, 100)
    mcc31 = ctxc.fillRect(274,330, 55, 100)
    mcc30 = ctxc.fillRect(342.5,330, 55, 100)
    mcc29 = ctxc.fillRect(411,330, 55, 100)
    mcc28 = ctxc.fillRect(479.5,330, 55, 100)

    mcc43 = ctxc.fillRect(0,440, 55, 100)
    mcc42 = ctxc.fillRect(68.5,440, 55, 100)
    mcc41 = ctxc.fillRect(137,440, 55, 100)
    mcc40 = ctxc.fillRect(205.5,440, 55, 100)
    mcc39 = ctxc.fillRect(274,440, 55, 100)
    mcc38 = ctxc.fillRect(342.5,440, 55, 100)
    mcc37 = ctxc.fillRect(411,440, 55, 100)
    mcc36 = ctxc.fillRect(479.5,440, 55, 100)
</script>
{% endblock javascriptbody %}