{% extends 'base.html' %} 


{% block header %}
    {% if user.is_authenticated %}
        Menu
    {% else %} 
        <meta http-equiv="refresh" content="0; {% url 'guest_home' %}" />
    {% endif %}
{% endblock header %}

{% block content %}
    {% if user.is_authenticated %}
        <div style="display:grid; grid-template-columns:repeat(auto-fit, minmax(250px, 1fr)); padding: 25px">
            <div style="text-align: center; margin: 15px;">
                <p><a href="{% url 'material_home' %}"><i class="fa-solid fa-trash-can-arrow-up" style="font-size: 200px;"></i></a></p>
                <p><a href="{% url 'material_home' %}" style="text-decoration: none;">Material</a></p>
            </div>

            <div style="text-align: center; margin: 15px;">
                <p><a href="{% url 'pulling_home' %}"><i class="fa-solid fa-cart-flatbed" style="font-size: 200px;"></i></a></p>
                <p><a href="{% url 'pulling_home' %}" style="text-decoration: none;">Pulling</a></p>
            </div>
        </div>
    {% else %} 
        <meta http-equiv="refresh" content="0; {% url 'guest_home' %}" />
    {% endif %}
{% endblock content %}
