{% extends 'base.html' %} 

{% block title %} Delete Hopper Input Data {% endblock title %}

{% block content %} 

<h3>Delete Hopper Input Data</h3>
<form action="", method="post">
    {% csrf_token %} 
    <p>Delete the following data</p>
    <strong><p>No mesin : {{hopper_delete.no_mesin}}</p></strong>
    <strong><p>Part ID : {{hopper_delete.product.part_id}}</p></strong>
    <strong><p>Part Name : {{hopper_delete.product.part_name}}</p></strong>
    <strong><p>Tanggal Pengisian : {{hopper_delete.tanggal|date:"d-M-Y"}}</p></strong>
    <strong><p>Waktu Pengisian : {{hopper_delete.jam_isi|time:"H:i"}}</p></strong>
    <strong><p>PIC : {{hopper_delete.pic}}</p></strong>
    <p>Confirm ?</p>
    <input type="submit" value="Yes" class="btn btn-primary" style="width: 3em;"/>
    <input type="" value="No" class="btn btn-secondary" onclick="history.back()" style="width: 3em;">
</form>



{% endblock content %}