{% extends 'base.html' %} 
{% load admin_urls %}

{% block title %} Product List {% endblock title %}
{% block header %} Product List {% endblock header %}

{% block note %}
<div>
  Please import Excel file (.xlsx) with new product data following this <a href="https://drive.google.com/uc?export=download&id=1wh3Pg1EJSYvahboGGKTlVcERraqAo8-i">template</a>
</div>
<br>
<div>
  <form method="post" action="{% url 'import_product_xlsx' %}" enctype="multipart/form-data">
    <div class="form-group row pb-1">
      {% csrf_token %}
      <div class="form-group col-md-9">
        <label for="import_product_xlsx">New Product Excel</label>
        <input type="file" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" name="import_product_xlsx" id="import_product_xlsx" class="form-control">
      </div>
      <div class="form-group col-md-3 text-end">
        <label></label>
        <input type="submit" value="Import Product Excel" class="btn btn-success form-control">
      </div>
    </div>  
  </form>
</div>
{% endblock note %}

{% block content %} 

<div class="mb-4">
    <div class="row">
        <div class="form-group name1 col-md-10 text-start">
            <form class="form-inline mt-2 mt-md-0" action="{% url 'product' %}" method="get" style="text-align:left; width: 25em;">
                <input name="q" class="form-control mr-sm-2" type="text" placeholder="Search Product" aria-label="Search Product">
            </form>
        </div>
        <div class="form-group name2 col-md-2 text-end">
            <button class="btn btn-primary"><a href="{% url 'product_input'%}" style="color: white; text-decoration: none;">Add New Product</a></button>
        </div>
    </div>
</div>

<div>
    <table style="border: 1px solid white; width: 100%;">
        <tr style="border: 1px solid white;">
            <th style="width: 3%; border: 1px solid white; background-color: rgb(100, 100, 255); color: white; text-align: center;">#</th>
            <th style="width: 20%; border: 1px solid white; background-color: rgb(100, 100, 255); color: white;">Part ID</th>
            <th style="width: 32%; border: 1px solid white; background-color: rgb(100, 100, 255); color: white">Part Name</th>
            <th style="width: 35%; border: 1px solid white; background-color: rgb(100, 100, 255); color: white">Material</th>
            <th style="width: 10%; border: 1px solid white; background-color: rgb(100, 100, 255); color: white; text-align: center;" colspan="2"></th>
        </tr>
        {% for product in product_list %} 
        <tr style="border: 1px solid white;">
            <td style="width: 3%;  border: 1px solid white; background-color: lightblue; text-align: center;">{{ page_obj.start_index|add:forloop.counter0 }}</td>
            <td style="width: 20%; border: 1px solid white; background-color: lightblue;"><a href="{% url 'product_detail' product.pk %}">{{product.part_id}}</td>
            <td style="width: 32%; border: 1px solid white; background-color: lightblue;">{{product.part_name}}</td>
            <td style="width: 35%; border: 1px solid white; background-color: lightblue;">{{product.material}}</td>
            <td style="width: 5%;  border: 1px solid white; border-right: 0px; background-color: lightblue; text-align: center;"><a href="{% url 'product_edit' product.pk %}"><i class="fa-solid fa-pen"></i></a></td>
            <td style="width: 5%;  border: 1px solid white; border-left: 0px; background-color: lightblue; text-align: center;"><a href="{% url 'product_delete' product.pk %}"><i class="fa-solid fa-trash-can"></i></a></td>
        </tr>
        {% endfor %}
    </table>
</div>

<nav aria-label="Page navigation example" style="padding-top: 3em;">
    {% if is_paginated %}
    <ul class="pagination justify-content-center .pagination-sm">
      {% if page_obj.has_previous %}
      <li class="page-item">
        <a class="page-link" href="?page={{page_obj.previous_page_number}}"
          >&laquo;</a
        >
      </li>
      {% else %}
      <li class="page-item disabled">
        <a class="page-link" href="#">&laquo;</a>
      </li>
      {% endif %} {% for i in paginator.page_range %} {% if page_obj.number == i %}
      <li class="page-item"><a class="page-link active bg-primary bg-opacity-25">{{ i }}</a></li>
      {% else %}
      <li class="page-item">
        <a class="page-link" href="?page={{ i }}">{{ i }}</a>
      </li>
      {% endif %} {% endfor %} {% if page_obj.has_next %}
      <li class="page-item">
        <a href="?page={{page_obj.next_page_number}}" class="page-link">&raquo;</a>
      </li>
      {% else %}
      <li class="page-item disabled">
        <a class="page-link">&raquo;</a>
      </li>
      {% endif %}
    </ul>
    {% endif %}
  </nav>


{% endblock content %}