{% extends 'base.html' %} 
{% load admin_urls %}
{% load render_table from django_tables2 %}

{% block title %} Customer List - Pulling {% endblock title %}

{% block style %} 
<style>
    .pulling_customer th{
        border: 1px solid white; 
        background-color: rgb(100, 100, 255); 
        border-radius: 5px;
    }
    .pulling_customer th a {
        font-weight: bold;
        color: white;
        text-decoration: none;
        padding-left: 5px;
        font-size: large;
    }
    .pulling_customer td{
        border: 1px solid white; 
        background-color: lightblue; 
        border-radius: 5px;
        padding-left: 5px;
        height: 50px;
    }
</style>
{% endblock style %}

{% block header %} Customer List - Pulling {% endblock header %}

{% block note %}
<hr>
<div>
    Please import Excel file (.xlsx) with new customer data following this <a href="https://docs.google.com/spreadsheets/d/1eicj_JVb_BxssIAWQDir4AU0_FSSOJ4r/export?format=xlsx&id=1eicj_JVb_BxssIAWQDir4AU0_FSSOJ4r">template</a>
  </div>
  <br>
  <div>
    <form method="post" action="{% url 'import_pulling_customer_xlsx' %}" enctype="multipart/form-data">
      <div class="form-group row pb-1">
        {% csrf_token %}
        <div class="form-group col-md-9">
          <label for="import_pulling_customer_xlsx">Import New Customer (.xlsx)</label>
          <input type="file" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" name="import_pulling_customer_xlsx" id="import_pulling_customer_xlsx" class="form-control">
        </div>
        <div class="form-group col-md-3 text-end">
          <label></label>
          <input type="submit" value="Import New Customers (.xlsx)" class="btn btn-success form-control">
        </div>
      </div>  
    </form>
  </div>
{% endblock note %}

{% block content %} 
    {% if pulling_customer_table %}
        {% render_table pulling_customer_table %}
    {% endif %}
{% endblock content %}

{% block footer %}

  {% if is_paginated %}
    <ul class="pagination align-items-center justify-content-center text-center">

    {% if page_obj.has_previous %}
        <li class="page-item"><a class="page-link" href="?page=1">First</a></li>
        <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
    {% else %}
        <li class="page-item disabled"><span class="page-link" aria-hidden="true" aria-disabled="true">First</span></li>
        <li class="page-item disabled"><span class="page-link" aria-hidden="true" aria-disabled="true">Previous</span></li>
    {% endif %}
    
    {% if page_obj.number|add:'-4' > 1 %}
        <li class="page-item"><a class="page-link" href="?page={{ page_obj.number|add:'-5' }}">&hellip;</a></li>
    {% endif %}
    
    {% for i in page_obj.paginator.page_range %}
        {% if page_obj.number == i %}
            <li class="page-item active"><span class="page-link">{{ i }} <span class="sr-only">(current)</span></span></li>
        {% elif i > page_obj.number|add:'-5' and i < page_obj.number|add:'5' %}
            <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
        {% endif %}
    {% endfor %}
    
    {% if page_obj.paginator.num_pages > page_obj.number|add:'4' %}
        <li class="page-item"><a class="page-link" href="?page={{ page_obj.number|add:'5' }}">&hellip;</a></li>
    {% endif %}
    
    {% if page_obj.has_next %}
        <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-hidden="true">Next</a></li>
        <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}" aria-hidden="true">Last</a></li>
    {% else %}
        <li class="page-item disabled"><span class="page-link" aria-hidden="true" aria-disabled="true">Next</span></li>
        <li class="page-item disabled"><span class="page-link" aria-hidden="true" aria-disabled="true">Last</span></li>
    {% endif %}
    
    </ul>
  {% endif %}

{% endblock footer %}