{% extends 'base.html' %} 

{% block title %} Delete Scan - In {% endblock title %}

{% block header %} Delete the following scan data? {% endblock header %}
{% block content %} 

<div class="container">
    <form action="", method="post">
        {% csrf_token %} 
        <p>Delete the following data</p>
        <div class="container">
            <strong><p>No Mc : {{pulling_temp_in_delete.no_mesin}}</p></strong>
            <strong><p>Part ID Customer : {{pulling_temp_in_delete.part_id_customer}}</p></strong>
            <strong><p>Part Name : {{pulling_temp_in_delete.part_name}}</p></strong>
            <strong><p>Quantity : {{pulling_temp_in_delete.quantity}}</p></strong>
            <strong><p>Date / Time : {{pulling_temp_in_delete.date_time}}</p></strong>
        </div>
        <p>Confirm ?</p>
        <input type="submit" value="Yes" class="btn btn-primary">
        <input type="button" value="No" class="btn btn-danger" onclick="history.back()">
    </form>
</div>
<br>

{% endblock content %}